# streamlit==1.24.1
# plotly==5.18.0
# Python 3.11.5
streamlit
pandas
streamlit-shadcn-ui>=0.1.18
streamlit_extras
Pillow
mysqlclient==8.0.33
SQLAlchemy==2.0.21

streamlit-option-menu
numpy

# Image
# pygwalker>=0.4.8.3
# stylable-container
