# streamlit==1.24.1
# plotly==5.18.0
# Python 3.11.5
streamlit
streamlit-option-menu
Image
pandas
numpy
streamlit-shadcn-ui>=0.1.18
streamlit_extras
pygwalker>=0.4.8.3
PIL
Pillow
# stylable-container
